body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.oranger
{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 150px;
   
}
.half-width
{
width: 50%;
padding-left: 2%;
}
.ultaa
{

    text-align: justify;
    padding-right: 50px;
}
.half-width img{
    width: 80%;
    margin-top: 5px;
}
.half-width img{

    width: 80%;
}
.hire-button{
 text-decoration: none;
 background-image: linear-gradient(orange , tomato);
 padding: 10px 30px;
 font-weight: 800;
 color: white;
 border-radius: 5px;
}
.top-banner
{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.big-bg
{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer
{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
.experience-bg
{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#first
{
    border-left: 7px solid;
    border-image: linear-gradient(red , tomato);
    border-image-slice: 1;
}
#second

    {
        border-left: 7px solid;
        border-image: linear-gradient(blue  ,cyan);
        border-image-slice: 1;
    }
footer p{
    text-align: center;
}